<mat-card *ngIf="currentContent$ | async as candidate; else noMoreToClassify">
  <mat-card-header>
    <mat-card-title>{{ candidate.title }}</mat-card-title>
    <mat-card-subtitle>{{ candidate.subTitle }}</mat-card-subtitle>
    <button mat-icon-button
        *ngIf="classificationUpdates.size === 0; else withUpdates"
        class="classification-upload-button"
        color="primary">
      <mat-icon fontSet="material-symbols-outlined">cloud_upload</mat-icon>
    </button>
    <ng-template #withUpdates>
      <button mat-mini-fab
          class="classification-upload-button"
          color="warn"
          (click)="saveClassificationUpdates(classificationUpdates)">
        <mat-icon fontSet="material-symbols-outlined">cloud_upload</mat-icon>
      </button>
    </ng-template>
  </mat-card-header>
  <div mat-card-image class="mountain-image">
    <img #mountainImage [src]="candidate.imageBase64Url">
    <canvas #mountainCanvas
        [width]="canvasSize[0]"
        [height]="canvasSize[1]"
        (click)="setPosition($event, mountainCanvas, mountainImage)"></canvas>
  </div>
  <mat-card-content>
    <button mat-flat-button color="primary" (click)="navigator.previous()">Previous</button>
    <div class="classification-options">
      <button mat-stroked-button
          *ngFor="let option of classificationOptions$ | async"
          [color]="classificationUpdates.get(candidate.fileName)?.classification === option ? 'primary' : ''"
          (click)="classify(candidate.fileName, option)">
        {{ option }}
      </button>
    </div>
    <button mat-flat-button color="primary" (click)="navigator.next()">Next</button>
  </mat-card-content>
</mat-card>
<ng-template #noMoreToClassify>
  <h1>Nothing left to classify!</h1>
</ng-template>